<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="roosterApp">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />
    <meta property="og:title" content="完娛食堂 咕雞咕雞團圓飯"/> 
    <meta property="og:url" content="http://event.setn.com/2017chinesenewyear/"/> 
    <meta property="og:image" content="http://event.setn.com/2017chinesenewyear/assets/img/og.jpg"/> 
    <meta property="fb:app_id" content="290937077764531" />
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="assets/simplemenu/css/simplemenu.css">
    <!-- ======== RESPONSIVE ======== -->
    <link rel="stylesheet" media="(max-width:480px)" href="assets/css/responsive-small.css">
    <link rel="stylesheet" media="(min-width:481px) and (max-width:768px)" href="assets/css/responsive-0.css">
    <link rel="stylesheet" media="(min-width:769px) and (max-width:992px)" href="assets/css/responsive-768.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>完娛食堂 咕雞咕雞團圓飯</title>
</head>
<body class="stretched" ng-controller="roosterController">
    <div id="fb-root"></div>
    <!-- mobile menu
    ============================================= -->
    <ul id="menu" class="mobilenav one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
        <li class="">
            <a class="mbtn" href="index.html#" data-href="#slider"><img src="assets/img/menu-01m.png"></a>
        </li>
        <li class="">
            <a class="mbtn" href="index.html#" data-href="#fb-com"><img src="assets/img/menu-02m.png"></a>
        </li>
        <li class="">
            <a class="mbtn" href="index.html#" data-href="#content-post"><img src="assets/img/menu-03m.png"></a>
        </li>
        <li class="">
            <a class="mbtn" href="index.html#" data-href="#content-info"><img src="assets/img/menu-04m.png"></a>
        </li>
        <li class="sns">
            <hr>
            <table width="200" border="0" align="center">
                <tbody>
                    <tr>
                        <td>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://event.setn.com/2017chinesenewyear/" target="_blank"><img src="assets/img/top-fb.png" alt=""></a>
                        </td>
                        <td>
                            <a href="http://line.naver.jp/R/msg/text/?完娛食堂 咕雞咕雞團圓飯 http://event.setn.com/2017chinesenewyear/" target="_blank"><img src="assets/img/top-line.png" alt=""></a>
                        </td>
                        <td>
                            <a href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fevent.setn.com%2F2017chinesenewyear%2F&title=完娛食堂 咕雞咕雞團圓飯" target="_blank"><img src="assets/img/top-wb.png" alt=""></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <div class="clearfix"></div>
    </ul>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Top Bar
        ============================================= -->
        <div id="top-bar" class="">
            <div class="container clearfix">
                <div class="col_half nobottommargin">
                    <img src="assets/img/top-logo.jpg">
                </div>
                <div class="col_half col_last fright nobottommargin hidden-xs">
                    <!-- Top Links
                    ============================================= -->
                    <div class="top-links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://event.setn.com/2017chinesenewyear/" target="_blank"><img src="assets/img/top-fb.png"></a>
                            </li>
                            <li>
                                <a href="http://line.naver.jp/R/msg/text/?完娛食堂 咕雞咕雞團圓飯 http://event.setn.com/2017chinesenewyear/" target="_blank"><img src="assets/img/top-line.png"></a>
                            </li>
                            <li>
                                <a href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fevent.setn.com%2F2017chinesenewyear%2F&title=完娛食堂 咕雞咕雞團圓飯" target="_blank"><img src="assets/img/top-wb.png"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- .top-links end -->
                </div>
                <!--menu-->
                <ul id="e-menu" class="header-togglemenu visible-xs visible-sm">
                    <li>
                        <a href="javascript:void(0)" class="icon">
                            <div class="hamburger">
                                <div class="menui top-menu"></div>
                                <div class="menui mid-menu"></div>
                                <div class="menui bottom-menu"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- #top-bar end -->
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap nopadding">
                <div class="section nomargin nopadding noborder">
                    <div class="center clearfix">
                        <div class="kv-a hidden-sm hidden-xs">
                            <iframe src="assets/canvas/kv.html" scrolling="no" frameborder="0" allowtransparency="true" style=" width:100%; height: 100%; margin:0 auto;"></iframe>
                        </div>
                        <div class="kv-b hidden-md visible-sm visible-xs ">
                            <iframe src="assets/canvas/kv-b.html" scrolling="no" frameborder="0" allowtransparency="true" style=" width:100%; height: auto; margin:0 auto;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
        <!-- Header
                ============================================= -->
        <header id="header" class="hidden-xs ">
            <div id="header-wrap">
                <div class="container clearfix">
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1500">
                            <li class=" current">
                                <a class="btn-hover" href="index.html#" data-href="#slider">
                                    <img src="assets/img/menu-01.png">
                                </a>
                            </li>
                            <li class="current">
                                <a class="btn-hover" href="index.html#" data-href="#fb-com">
                                    <img src="assets/img/menu-02.png">
                                </a>
                            </li>
                            <li class="current">
                                <a class="btn-hover" href="index.html#" data-href="#content-post">
                                    <img src="assets/img/menu-03.png">
                                </a>
                            </li>
                            <li class="current">
                                <a class="btn-hover" href="index.html#" data-href="#content-info">
                                    <img src="assets/img/menu-04.png">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- #header end -->
        <!-- Video
        ============================================= -->
        <section id="slider" class="" style="background-color: #444;" ng-controller="slideController">
            <div id="oc-slider" class="owl-carousel carousel-widget" data-margin="1" data-nav="true" data-pagi="false" data-items="1" data-merge="true" data-loop="false" data-lazyload="true" data-center="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-lg="4">
                <div class="item-video" data-merge="2">
                    <div class="mv-warp" ng-if="date < owlItems[0].startTime">
                        <img ng-src="assets/img/live-coming.jpg" style="width:100%;margin:0 auto;">
                    </div>
                    <div class="mv-warp" ng-if="date >= owlItems[0].startTime" >
                        <a class="owl-video" href="https://www.youtube.com/embed/SBjAwupdFsU"></a>
                    </div>
                    <div class="mv-info">
                        <div class="mv-title">完娛食堂 咕雞咕雞團圓飯 請鎖定1/11 21:00首播</div>
                        <ul class="mv-btn">
                            <li>
                                <a href="" style="width:52px; height:61px; display: block;">
                                    <div class="fb-like" data-href="https://www.facebook.com/setshowbiz/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                                </a>
                            </li>
                            <li ng-class="{'inactive':status==false}">
                                <a class="btn-hover" href="" ng-click="share('SBjAwupdFsU')"><img src="assets/img/btn-fb.png"></a>
                            </li>
                            
                            <li ng-class="{'inactive':lotteryed==true}">
                                <a ng-class="btn-hover" href="" ng-click="goLottery()"><img  src="assets/img/btn-join.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mv-box">
                <img src="assets/img/mv-title.png">
                <ul class="hidden-xs visible-sm visible-md visible-lg" ng-if="owlItems.length > 1">
                    <li ng-repeat="v in owlItems">
                        <img ng-src="{{ v.imgSrc }}">
                    </li>
                </ul>
                <div class="center mv-banner">
                    <dfp class="hidden-xs" ad="ad-728x90"></dfp>
                    <dfp class="visible-xs" ad="ad-m-300x50"></dfp>
                </div>
            </div>
        </section>
        <!-- #Video  end -->
        <!-- FB Comments
        ============================================= -->
        <section id="fb-com">
            <div class="container clearfix">
                <div class="postcontent">
                    <!-- Facebook Comments Plugin -->
                    <div class="fb-comments" data-href="http://event.setn.com/2017chinesenewyear/" data-numposts="5" data-order-by="social"></div>
                </div>
            </div>
        </section>
        <!-- #FB Comments end -->
        <!-- Post
        ============================================= -->
        <section id="content-post" ng-controller="postController">
            <div class="title"></div>
            <div class="content-wrap nopadding">
                <!-- Portfolio Items
                ============================================= -->
                <div id="postnews" class="container clearfix">
                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-masonry clearfix">
                        <portfolio ng-repeat="post in posts"></portfolio>
                        <div class="clearfix"></div>
                    </div>
                    <!-- #portfolio end -->
                    <div class="promo promo-center">
                        <a href="http://www.setn.com/project.aspx?ProjectID=2856" class="button button-3d button-rounded button-red" target="_blank">
                            <i class="icon-repeat"></i>
                            Load More
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- #Post end -->
        <!-- Post
        ============================================= -->
        <section id="content-info">
            <div class="title"></div>
            <div class="content-wrap nopadding">
                <!-- Portfolio Items
                ============================================= -->
                <div class="container clearfix">
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <a href="https://www.sen-tao.com/Buy/Index.aspx" target="_blank">
                                    <img src="assets/img/prize01.jpg" alt="">
                                </a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    <a href="https://www.sen-tao.com/Buy/Index.aspx" target="_blank">
                                        仙桃牌 通汝飲
                                    </a>
                                </h3>
                                <p>
                                    (價值$3200元) / 5 個名額
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <a href="http://www.kavalanwhisky.com/index2.aspx" target="_blank">
                                    <img src="assets/img/prize02.jpg" alt="">
                                </a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    <a href="http://www.kavalanwhisky.com/index2.aspx" target="_blank">
                                        噶瑪蘭經典單一麥芽威士忌
                                    </a>
                                </h3>
                                <p>
                                    (價值$2100元) / 1 個名額
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <a href="http://www.setddg.com/" target="_blank">
                                    <img src="assets/img/prize03.jpg" alt="">
                                </a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    <a href="http://www.setddg.com/" target="_blank">
                                        SUNOWA 攜帶型暖暖蛋
                                    </a>
                                </h3>
                                <p>
                                    (價值$899元) / 2 個名額
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <a href="http://bit.ly/1S3fdgm" target="_blank">
                                    <img src="assets/img/prize04.jpg" alt="">
                                </a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    <a href="http://bit.ly/1S3fdgm" target="_blank">
                                        WIWI圓領刷毛發熱衣(男+女衣)
                                    </a>

                                </h3>
                                <p>
                                    (價值$1400元) / 2 個名額
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <a href="http://www.setddg.com/" target="_blank">
                                    <img src="assets/img/prize05.jpg" alt="">
                                </a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    <a href="http://www.setddg.com/" target="_blank">
                                        d2愛心滿鑽項鍊
                                    </a>
                                </h3>
                                <p>
                                    (價值$1900元) / 2 個名額
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="sp-box-banner ">
                            <dfp ad="ad-300x250"></dfp>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
        <!-- #Post end -->
        <!-- Post
        ============================================= -->
        <section id="content-infob">
            <div class="content-wrap nopadding">
                <!-- Portfolio Items
                ============================================= -->
                <div class="container clearfix">
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="assets/img/gift00.jpg" alt="">
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    敬請期待
                                </h3>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="assets/img/gift00.jpg" alt="">
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    敬請期待
                                </h3>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="assets/img/gift00.jpg" alt="">
                            </div>
                            <div class="fbox-desc">
                                <h3 class="txt_red">
                                    敬請期待
                                </h3>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="infotxt">
                        <ul>
                            <li>一、活動時間
                                <br> 即日起至2017年2月10日
                                <br> 《完娛食堂 咕雞咕雞團圓飯》網路抽獎活動得獎名單公布時間：2017年2月17日
                                <br>
                            </li>
                            <li>二、活動辦法
                                <br> 抽紅包｜按讚+分享團圓飯影片至個人Facebook塗鴉牆(公開貼文)，分享越多機會越大！
                                <br> 加碼抽｜留言上傳與家人團聚吃飯的照片，並 #咕雞咕雞團圓飯 及勾選同時發佈到Facebook塗鴉牆(公開貼文)。
                                <br>
                            </li>
                            <li>三、《完娛食堂 咕雞咕雞團圓飯》活動相關規範及注意事項
                                <br> 1.中獎名單會公布在本活動網站。若中獎人未在期限內回覆正確聯絡資料者，視同放棄中獎資格。
                                <br> 2.若因中獎人提供的地址或資料錯誤或其他可歸責於中獎人之事由導致獎品無法送達、遺失、盜領或毀損者，主辦單位將不再重寄獎品，相關責任由中獎人自行承擔，如有不便尚請見諒。
                                <br> 3.獎品以實物為準，不得折換現金。如遇產品缺貨或不可抗力之事由，主辦單位有權變更獎品內容，並改由其他等值商品取代，得獎者不得異議。且主辦單位與活動單位就該獎品不負任何維修及保固責任。
                                <br> 4.主辦單位保有修正、暫停或終止本活動之權利。
                                <br> 5.本活動記錄您的Facebook ID資料，本公司將會自 活動結束日起算1年內，在台灣地區(台、澎、金、馬)做以下目的使用：
                                <br> (1)「完娛食堂 咕雞咕雞團圓飯」網路抽獎活動的中獎聯絡之用。
                                <br> (2)活動得獎者為聯繫而提供之個人資料，將用作本抽獎活動中獎者寄送獎品之用，本公司將基於配送獎品之目的， 將個人資料提供予委任 處理本活動相關事務之必要第三人（如：合作廠商、物流廠商）。
                                <br> (3)蒐集之個人資料類別：電子郵件或其他可供辨識本人之個人資料。
                                <br> 6.在活動過程中如有任何疑問，請與活動單位聯絡，來信請寄到amberteng@mail.sanlih.cm.tw。
                                <br>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
        <!-- #Post end -->
        <!-- Post
        ============================================= -->
        <section id="sp-item">
            <div class="content-wrap nopadding">
                <!-- Portfolio Items
                ============================================= -->
                <div class="container clearfix">
                    <ul class="partner">
                        <li>
                            <div class="title">主辦單位</div>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/setshowbiz/" target="_blank"><img src="assets/img/f-01.jpg"></a>
                        </li>
                        <li>
                            <a href="http://www.setn.com/" target="_blank"><img src="assets/img/f-02.png"></a>
                        </li>
                    </ul>
                    <ul class="partner">
                        <li>
                            <div class="title">贊助單位</div>
                        </li>
                        <li>
                            <a href="https://www.sen-tao.com/" target="_blank"><img src="assets/img/f-03.jpg"></a>
                        </li>
                        <li>
                            <a href="http://www.kavalanwhisky.com/" target="_blank"><img src="assets/img/f-04.png"></a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
        <!-- #Post end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer">
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">
                <div class="container clearfix">
                    <div class="center">
                        ©2017 Sanlih E-Television All Rights Reserved
                        <br> 版權所有 盜用必究 台北市內湖區舊宗路一段159號 02-8792-8888
                    </div>
                </div>
            </div>
            <!-- #copyrights end -->
        </footer>
        <!-- #footer end -->
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="assets/js/functions.js"></script>
    <script type="text/javascript" src="assets/simplemenu/js/simplemenu.js"></script>
    <script type="text/javascript" src="assets/lib/angular.min.js"></script>
    <script type="text/javascript" src="assets/lib/ngFacebook.js"></script>
    <script type="text/javascript" src="assets/lib/ngDfp.min.js"></script>
    <script type="text/javascript" src="assets/lib/oc.js"></script>
    <script type="text/javascript" src="assets/lib/oc2.js"></script>
    <script type="text/javascript" src="assets/lib/app.js"></script>
    <script type="text/javascript" src="assets/lib/service.js"></script>
    <script type="text/javascript" src="assets/lib/controller.js"></script>
    <script type="text/javascript" src="assets/lib/directives.js"></script>
</body>
</html>
