<!-- 單一圖片 -->
<figure class="portfolio-item pf-media pf-icons">
    <div class="sp-box">
        <div class="portfolio-image">
            <a href="portfolio-single.php">
                <img src="http://attach.azureedge.net/newsimages/2016/12/29/760461-XXL.jpg" alt="">
            </a>
            <div class="portfolio-overlay">
                <a href="#" class="center-icon"><i class="icon-line-plus"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#" target="_blank">標題無限制字數標題無限制字數標題無限制字數標題無限制字數標題無限制字數</a></h3>
            <p>
                2016年不為人知的秘境正盛行，人們鋪天蓋地的湧入拍照、打卡，讓秘境不再秘密，但有些美麗的景致已經悄悄關閉，想看也只能從照片回味了，快來看看2016有哪些美景們被封印了，千萬別白跑一趟呀！
            </p>
        </div>
    </div>
</figure>
<!-- 可放影片 -->
<figure class="portfolio-item pf-graphics pf-uielements">
    <div class="sp-box">
        <div class="portfolio-image">
            <a href="#">
                <img src="http://attach.azureedge.net/newsimages/2016/12/29/760484-XXL.jpg" alt="Mac Sunglasses">
            </a>
            <div class="portfolio-overlay">
                <a href="http://player.vimeo.com/video/87701971" class="center-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#" target="_blank">標題無限制字數標題無限制字數標題無限制字數標題無限制字數標題無限制字數</a></h3>
            <p>
                2016年不為人知的秘境正盛行，人們鋪天蓋地的湧入拍照、打卡，讓秘境不再秘密，但有些美麗的景致已經悄悄關閉，想看也只能從照片回味了，快來看看2016有哪些美景們被封印了，千萬別白跑一趟呀！
            </p>
        </div>
    </div>
</figure>
<!-- 多張圖片 -->
<figure class="portfolio-item pf-icons pf-illustrations">
    <div class="sp-box">
        <div class="portfolio-image">
            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide">
                            <a href="#"><img src="http://attach.azureedge.net/newsimages/2016/12/29/760203-XXL.jpg"></a>
                        </div>
                        <div class="slide">
                            <a href="#"><img src="http://attach.azureedge.net/newsimages/2016/12/29/760203-XXL.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-overlay">
                <a href="#" class="center-icon"><i class="icon-line-plus"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="#" target="_blank">狙擊少女心！專屬妳的「迪士尼公主快閃店」華麗登台</a></h3>
            <p>
                女生們注意了！全台首間針對年輕女性打造的「迪士尼公主快閃店」登台囉！引進超過250項、擁有自由、冒險、勇敢、堅定新公主特質的全新迪士尼公主系列夢幻逸品，自12月29日起將接連於微風信義B1樓捷運聯通道、微風南京「Zakka House」登場；以及於明年3月微風松高「Zakka House」本店更全面打造迪士尼公主主題，要讓年輕女性們大飽收集慾！
            </p>
        </div>
    </div>
</figure>
<!-- banner 300x600 -->
<figure class="portfolio-item pf-media pf-icons">
    <div class="sp-box-banner">
        <a href="#" target="_blank"><img src="assets/banner/300x600.jpg"></a>
    </div>
</figure>