<div>
    <div class="mv-warp">
        <a class="owl-video" href="https://www.youtube.com/embed/SBjAwupdFsU"></a>
    </div>
    <div class="mv-info">
        <div class="mv-title">影片標題20字影片標題20字影片標題20字影片標題20字影片標題20字</div>
        <ul class="mv-btn">
            <li>
                <a href="" style="width:52px; height:61px; display: block;">
                    <div class="fb-like" data-href="https://www.facebook.com/setshowbiz/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                </a>
            </li>
            <li ng-class="{'inactive':status==false}">
                <a class="btn-hover" href="" ng-click="share()"><img src="assets/img/btn-fb.png"></a>
            </li>
            
            <li>
                <a class="btn-hover" href="" ng-click="fbLogin()"><img src="assets/img/btn-join.png"></a>
            </li>
        </ul>
    </div>
</div>